  
<ul>  
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>
  <input type="text" name="product">
  <div><%= submit_tag 'add to cart' %></div>
<%end  %>